* {padding: 0; margin: 0; box-sizing: border-box;}
img {max-width: 100%; height: auto;}

.detail-info {
    min-height: 345px;
}
.detail-info  .title {
    font-size: 24px;
}
.detail-info .price {
    font-size: 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.detail-info .delivery {
    color: #888;
}
.detail-control .price {overflow: hidden;}
.detail-control .order {overflow: hidden;}
.detail-control .left { float: left; font-size: 18px; line-height: 45px;}
.detail-control .right { float: right; font-size: 30px;}
.detail-control .order .left-btn {
    width: 50%;
    height: 60px;
    font-size: 18px;
}
.detail-control .order .right-btn {
    width: 50%;
    height: 60px;
    font-size: 18px;
    float: right;
    border-color: #204d74;
    background-color: rebeccapurple;
    color: #fff;
}
.reply-wrap {
    padding: 15px;
    position: relative;
    border: 1px solid #ddd;
    background-color: greenyellow;
}

.reply-img > img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.reply-group {overflow: hidden;}
.reply-wrap .reply-content{
    padding-left: 60px;
}
.reply-content .form-control {
    width: 100%;
    margin-bottom: 10px;
}
.reply-content textarea {
    height: 50px;
    transition: height .4s ease-in-out;
}
.reply-content textarea:hover {
    height: 100px;
}
.reply-input > .form-control {
    width: 200px;
    margin-bottom: 5px;
}
.reply-group .reply-input {
    float: left;
}
.reply-group .right {
    float: right;
}
